<div class="table-container">

  <!-- Header -->
  <div class="row justify-content-start">
    <div class="col-md-6 col-12 d-flex align-items-center gap-1">
      <h2 class="mb-0">Lab Requests</h2>
    </div>
  </div>

  <!-- Search -->
  <div class="row justify-content-end">
    <div class="col-md-4 col-10 mb-4">
      <div class="search-input-wrapper">
        <input type="text" class="form-control" placeholder="Search requests..." [(ngModel)]="searchText"
          (input)="applyFilter()" />
        <i class="bi bi-search search-icon"></i>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th (click)="applySort('requestNumber')" role="button">Request #</th>
          <th (click)="applySort('issueTitle')" role="button">Issue Title</th>
          <th (click)="applySort('studentName')" role="button">Student</th>
          <th (click)="applySort('courseOfferingName')" role="button">Course</th>
          <th (click)="applySort('requestedDate')" role="button">Requested Date</th>
          <th (click)="applySort('assignedTeacherName')" role="button">Assigned Teacher</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let request of paged">

          <td>{{ request.requestNumber }}</td>
          <td>{{ request.issueTitle }}</td>
          <td>{{ request.studentName }}</td>
          <td>{{ request.courseOfferingName }}</td>
          <td>{{ request.requestedDate | date:'MMM dd, yyyy' }}</td>
          <td>{{ request.assignedTeacherName || '-' }}</td>

          <!-- STATUS DROPDOWN -->
          <td>
            <select class="form-select form-select-sm" [(ngModel)]="request.statusId">
              <option *ngFor="let s of statusList" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
          </td>

          <!-- SAVE BUTTON     [disabled]="request.statusId === request.statusId"-->
          <td class="d-flex gap-3">
            <button class="btn btn-sm btn-primary" (click)="saveStatus(request)">
              Save
            </button>

            <button class="btn btn-sm btn-primary" (click)="openDetailDrawer(request.id)">
              View
            </button>
          </td>

        </tr>

        <tr *ngIf="paged.length === 0">
          <td colspan="8" class="text-center py-4 text-muted">
            No records found
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>

<!-- Side drawer for create/edit -->
<app-side-drawer [opened]="drawerOpen" width="1000px" (closed)="closeDrawer()" [headerTemplate]="drawerHeader">
  <ng-container *ngIf="drawerOpen">
    <app-help-request-detail-view (cancel)="closeDrawer()"></app-help-request-detail-view>
  </ng-container>
</app-side-drawer>

<ng-template #drawerHeader>
  <div class="d-flex align-items-center gap-2">
    <i class="bi bi-journal-bookmark"></i>
    <span>
      Help Request Detail
    </span>
  </div>
</ng-template>