<div class="posts-container">

    <!-- Header -->
    <div class="posts-header">

        <div class="title-section">
            <i class="bi bi-filter"></i>
            <h2>All Posts</h2>
        </div>


        <div class="header-actions">
            <!-- <button class="icon-btn">
                <i class="bi bi-arrow-down-up"></i>
            </button>

            <button class="icon-btn">
                <i class="bi bi-three-dots-vertical"></i>
            </button> -->

            <button class="btn btn-primary btn-sm" (click)="openDetailDrawer(EMPTY_ID)">
                <i class="bi bi-plus-lg me-1"></i>
                New Post
            </button>
        </div>

    </div>


    <!-- Group -->
    <div class="post-group" *ngFor="let group of groupedPosts">

        <div class="group-header" (click)="toggleGroup(group)">
            <i class="bi" [ngClass]="group.expanded ? 'bi-chevron-down' : 'bi-chevron-right'">
            </i>

            <span>{{ group.title }}</span>
        </div>

        <div *ngIf="group.expanded">

            <div class="post-card" *ngFor="let post of group.posts" (click)="openDetailDrawer(post.id)">

                <div class="post-top">

                    <div class="post-type">
                        <span class="type-box" [class.instructor]="post.isIndividual === false">
                        </span>

                        <span>
                            {{ post.isIndividual ? 'Private' : 'Instructor' }}
                        </span>

                        <span class="post-type-name">
                            <mat-icon>
                                {{ getPostTypeIcon(post.postTypeId) }}
                            </mat-icon>
                            {{ post.postTypeName }}
                        </span>
                    </div>

                    <div class="post-date">
                        {{ post.createdDate | date:'MM/dd/yy' }}
                    </div>

                </div>

                <div class="post-content">
                    <h3>{{ post.summary }}</h3>
                    <div [innerHTML]="post.details"></div>
                </div>

                <div class="post-actions" (click)="$event.stopPropagation()">

                    <button class="btn btn-sm btn-outline-secondary" (click)="viewPost(post)">
                        <i class="fa fa-eye"></i> View
                    </button>

                    <button class="btn btn-sm btn-outline-secondary" (click)="editPost(post)">
                        <i class="fa fa-edit"></i> Edit
                    </button>

                    <button class="btn btn-sm btn-outline-secondary" (click)="favoritePost(post)">
                        <i class="fa fa-star"></i>
                        Favorite
                    </button>

                    <button class="btn btn-sm btn-outline-secondary" (click)="archivePost(post)">
                        <i class="fa fa-archive"></i>Archive
                    </button>

                    <button class="btn btn-sm btn-outline-secondary" (click)="pinPost(post)">
                        <i class="fa fa-thumbtack"></i>Pin
                    </button>

                    <button class="btn btn-sm btn-outline-secondary" (click)="markAsUnread(post)">
                        <i class="fa fa-flag"></i> Unread
                    </button>

                    <button class="btn btn-sm btn-outline-danger" (click)="deleteFromEveryone(post)">
                        <i class="fa fa-trash"></i> Delete
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>

<app-side-drawer [opened]="drawerOpen" width="1200px" (closed)="closeDrawer()" [headerTemplate]="drawerHeader">

    <ng-container *ngIf="drawerOpen">
        <app-new-post (cancel)="closeDrawer()">
        </app-new-post>
    </ng-container>

</app-side-drawer>

<app-side-drawer [opened]="drawerOpen" width="1200px" (closed)="closeDrawer()" [headerTemplate]="drawerHeader">

    <ng-container *ngIf="drawerOpen">

        <app-new-post *ngIf="currentPost === EMPTY_ID; else editPostTemplate" (cancel)="closeDrawer()">
        </app-new-post>

        <ng-template #editPostTemplate>
            <app-edit-post (cancel)="closeDrawer()">
            </app-edit-post>
        </ng-template>

    </ng-container>

</app-side-drawer>

<app-side-drawer [opened]="viewDrawerOpen" width="1200px" (closed)="viewCloseDrawer()"
    [headerTemplate]="viewDrawerHeader">

    <ng-container *ngIf="viewDrawerOpen">
        <app-view-post (cancel)="viewCloseDrawer()">
        </app-view-post>
    </ng-container>

</app-side-drawer>


<!-- Dynamic Drawer Header -->
<ng-template #drawerHeader>

    <div class="d-flex align-items-center gap-2">

        <div class="post-header">

            <i class="header-icon" [ngClass]="currentPost === EMPTY_ID 
            ? 'bi bi-plus-circle' 
            : 'bi bi-pencil-square'">
            </i>

            <h2>
                {{ currentPost === EMPTY_ID ? 'New Post' : 'Edit Post' }}
            </h2>

        </div>

    </div>

</ng-template>

<ng-template #viewDrawerHeader>

    <div class="d-flex align-items-center gap-2">

        <div class="post-header">

            <i class="header-icon bi bi-eye"></i>

            <h2>
                View Post
            </h2>

        </div>

    </div>

</ng-template>