<div class="course-form">

  <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">

    <div class="row g-3">

      <!-- Course -->
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="modern-field">
          <mat-label>Course</mat-label>

          <mat-select
            name="courseId"
            [(ngModel)]="courseOffering.detailDto!.courseId"
            #courseId="ngModel"
            required
          >
            <mat-option
              *ngFor="let c of courseOffering.courses"
              [value]="c.id"
            >
              {{ c.name }}
            </mat-option>
          </mat-select>

          <mat-icon matSuffix>school</mat-icon>
        </mat-form-field>

        <div
          class="text-danger small"
          *ngIf="courseId.invalid && courseId.touched"
        >
          Course is required
        </div>
      </div>


      <!-- Term -->
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="modern-field">
          <mat-label>Term</mat-label>

          <mat-select
            name="termId"
            [(ngModel)]="courseOffering.detailDto!.termId"
            #termId="ngModel"
            required
          >
            <mat-option
              *ngFor="let t of courseOffering.terms"
              [value]="t.id"
            >
              {{ t.name }}
            </mat-option>
          </mat-select>

          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>

        <div
          class="text-danger small"
          *ngIf="termId.invalid && termId.touched"
        >
          Term is required
        </div>
      </div>


      <!-- Instructor -->
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="modern-field">
          <mat-label>Instructor</mat-label>

          <mat-select
            name="instructorId"
            [(ngModel)]="courseOffering.detailDto!.instructorId"
            #instructorId="ngModel"
            required
          >
            <mat-option
              *ngFor="let i of courseOffering.instructors"
              [value]="i.id"
            >
              {{ i.name }}
            </mat-option>
          </mat-select>

          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <div
          class="text-danger small"
          *ngIf="instructorId.invalid && instructorId.touched"
        >
          Instructor is required
        </div>
      </div>

    </div>


    <!-- Actions -->
    <div class="form-actions">

      <button
        mat-stroked-button
        type="button"
        class="cancel-btn"
        (click)="onCancel()"
      >
        <mat-icon>close</mat-icon>
        Cancel
      </button>

      <button
        mat-flat-button
        type="submit"
        class="add-course-btn"
      >
        <mat-icon>
          {{
            courseOffering.detailDto!.id !==
            '00000000-0000-0000-0000-000000000000'
              ? 'save'
              : 'add'
          }}
        </mat-icon>

        {{
          courseOffering.detailDto!.id !==
          '00000000-0000-0000-0000-000000000000'
            ? 'Update Course Offering'
            : 'Create Course Offering'
        }}
      </button>

    </div>

  </form>

</div>