<div class="list-toolbar">

  <div class="list-toolbar-left">

    <div class="list-heading">

      <h2>Enrollments</h2>

      <span>
        Manage your course enrollments
      </span>

    </div>

  </div>


  <div class="toolbar-right">

    <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">

      <mat-icon matPrefix>
        search
      </mat-icon>

      <input matInput type="text" placeholder="Search enrollments..." [(ngModel)]="searchText"
        (input)="applyFilter()" />

    </mat-form-field>


    <button mat-flat-button class="add-btn" (click)="openCreateDrawer()">

      <mat-icon>
        add
      </mat-icon>

      Create Enrollment

    </button>


    <button mat-flat-button class="add-btn secondary-add-btn" (click)="openBulkCreateDrawer()">

      <mat-icon>
        playlist_add
      </mat-icon>

      Bulk Create

    </button>

  </div>

</div>


<!-- TABLE -->

<div class="list-table-wrapper">

  <table class="list-table">

    <thead>

      <tr>

        <!-- STUDENT -->

        <th>

          <button type="button" class="list-column-heading" (click)="applySort('studentName')">

            <span>
              Student
            </span>

            <i class="bi" [ngClass]="{
                'bi-caret-up-fill':
                  sortColumn === 'studentName' &&
                  sortDirection === 'asc',

                'bi-caret-down-fill':
                  sortColumn === 'studentName' &&
                  sortDirection === 'desc',

                'bi-unfold-more':
                  sortColumn !== 'studentName'
              }"></i>

          </button>

        </th>


        <!-- EMAIL -->

        <th>

          <button type="button" class="list-column-heading" (click)="applySort('studentEmail')">

            <span>
              Email
            </span>

            <i class="bi" [ngClass]="{
                'bi-caret-up-fill':
                  sortColumn === 'studentEmail' &&
                  sortDirection === 'asc',

                'bi-caret-down-fill':
                  sortColumn === 'studentEmail' &&
                  sortDirection === 'desc',

                'bi-unfold-more':
                  sortColumn !== 'studentEmail'
              }"></i>

          </button>

        </th>


        <!-- ENROLLED DATE -->

        <th>

          <button type="button" class="list-column-heading" (click)="applySort('enrolledDate')">

            <span>
              Enrolled Date
            </span>

            <i class="bi" [ngClass]="{
                'bi-caret-up-fill':
                  sortColumn === 'enrolledDate' &&
                  sortDirection === 'asc',

                'bi-caret-down-fill':
                  sortColumn === 'enrolledDate' &&
                  sortDirection === 'desc',

                'bi-unfold-more':
                  sortColumn !== 'enrolledDate'
              }"></i>

          </button>

        </th>


        <!-- ACTION -->

        <th class="list-action-column">
          Action
        </th>

      </tr>

    </thead>


    <tbody>

      <tr *ngFor="let enrollment of pagedEnrolements" class="list-row">

        <!-- STUDENT -->

        <td>

          <div class="list-item-cell">

            <div class="list-person-avatar">

              {{ enrollment.studentName?.charAt(0) || '?' }}

            </div>


            <div class="list-item-details">

              <span class="list-item-name">
                {{ enrollment.studentName }}
              </span>

              <span class="list-item-subtitle">
                Student
              </span>

            </div>

          </div>

        </td>


        <!-- EMAIL -->

        <td>

          <span class="list-secondary-text">
            {{ enrollment.studentEmail }}
          </span>

        </td>


        <!-- ENROLLED DATE -->

        <td>

          <span class="list-secondary-text">
            {{ enrollment.enrolledDate | date:'MMMM d, y' }}
          </span>

        </td>


        <!-- ACTION -->

        <td class="list-action-column">

          <button type="button" class="list-action" title="Edit" (click)="
              openEditDrawer(enrollment.id);
              $event.stopPropagation()
            ">

            <i class="bi bi-pencil-square"></i>

          </button>


          <button type="button" class="list-action" title="More" (click)="$event.stopPropagation()">

            <i class="bi bi-three-dots"></i>

          </button>

        </td>

      </tr>


      <!-- EMPTY -->

      <tr *ngIf="pagedEnrolements.length === 0">

        <td colspan="4" class="list-empty">

          <i class="bi bi-search list-empty-icon"></i>

          <strong>
            No enrollments found
          </strong>

          <span>
            Try adjusting your search criteria
          </span>

        </td>

      </tr>

    </tbody>

  </table>

</div>


<!-- FOOTER -->

<div class="list-footer">

  <div class="list-rows-per-page">

    <span>
      Items per page
    </span>


    <select class="list-page-size" [value]="pageSize" (change)="changePageSize($any($event.target).value)">

      <option *ngFor="let size of pageSizeOptions" [value]="size">

        {{ size }}

      </option>

    </select>

  </div>


  <span class="list-range">
    {{ rangeLabel }}
  </span>


  <div class="list-pagination">

    <button type="button" class="list-pagination-icon" [disabled]="currentPage === 1" (click)="goToPage(1)"
      title="First page">

      <i class="bi bi-chevron-double-left"></i>

    </button>


    <button type="button" class="list-pagination-icon" [disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)" title="Previous page">

      <i class="bi bi-chevron-left"></i>

    </button>


    <span class="list-page-number">
      {{ currentPage }}
    </span>


    <button type="button" class="list-pagination-icon" [disabled]="currentPage === totalPages"
      (click)="goToPage(currentPage + 1)" title="Next page">

      <i class="bi bi-chevron-right"></i>

    </button>


    <button type="button" class="list-pagination-icon" [disabled]="currentPage === totalPages"
      (click)="goToPage(totalPages)" title="Last page">

      <i class="bi bi-chevron-double-right"></i>

    </button>

  </div>

</div>


<app-side-drawer [opened]="drawerOpen" width="600px" (closed)="closeDrawer()" [headerTemplate]="drawerHeader">

  <ng-container *ngIf="drawerOpen">

    <app-enrolement-create-or-edit (saved)="onEnrolementSaved()" (cancel)="closeDrawer()">
    </app-enrolement-create-or-edit>

  </ng-container>

</app-side-drawer>


<app-side-drawer [opened]="bulkDrawerOpen" width="600px" (closed)="closeBulkDrawer()"
  [headerTemplate]="drawerHeaderBulk">

  <ng-container *ngIf="bulkDrawerOpen">

    <app-create-bulk-enrollments (saved)="onEnrolementBulkSaved()" (cancel)="closeBulkDrawer()">
    </app-create-bulk-enrollments>

  </ng-container>

</app-side-drawer>


<ng-template #drawerHeader>

  <div class="drawer-header-icon">
    <mat-icon>person</mat-icon>
  </div>

  <span>
    {{
    selectedEnrolementId
    ? 'Update the enrollment information below'
    : 'Create a new student enrollment'
    }}
  </span>

</ng-template>


<ng-template #drawerHeaderBulk>

  <div class="drawer-header-icon">
    <mat-icon>group</mat-icon>
  </div>
  <span>
    Create enrollments for multiple students
  </span>

</ng-template>