<div class="list-page">

  <div class="list-card">

    <!-- TOOLBAR -->
    <!-- <div class="list-toolbar">

      <div class="list-toolbar-left">

        <div class="list-heading">
          <h2>Courses</h2>
          <span>Manage your courses</span>
        </div>

      </div>

      <div class="toolbar-right">

        <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">

          <mat-icon matPrefix>
            search
          </mat-icon>

          <input matInput type="text" placeholder="Search courses..." [(ngModel)]="searchText" (input)="applyFilter()" />

        </mat-form-field>


        <button mat-flat-button class="add-btn" (click)="openCreateDrawer()">

          <mat-icon>add</mat-icon>
          Add Course
        </button>

      </div>

    </div> -->

    <div class="list-toolbar">

            <div class="list-toolbar-left">

                <div class="list-heading">

                    <h2>Courses</h2>

                    <span>
                        Manage your Courses
                    </span>

                </div>

            </div>
            <div class="toolbar-right">

                <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">

                    <mat-icon matPrefix>
                        search
                    </mat-icon>

                    <input matInput type="text" placeholder="Search courses..." [(ngModel)]="searchText"
                        (input)="applyFilter()" />

                </mat-form-field>


                <button mat-flat-button class="add-btn" (click)="openCreateDrawer()">

                    <mat-icon>add</mat-icon>
                    Add Course
                </button>

            </div>

        </div>

    <!-- TABLE -->
    <div class="list-table-wrapper">

      <table class="list-table">

        <thead>

          <tr>

            <th>

              <button type="button" class="list-column-heading" (click)="applySort('courseCode')">

                <span>Code</span>

                <i class="bi" [ngClass]="{
                    'bi-caret-up-fill':
                      sortColumn === 'courseCode' &&
                      sortDirection === 'asc',

                    'bi-caret-down-fill':
                      sortColumn === 'courseCode' &&
                      sortDirection === 'desc',

                    'bi-unfold-more':
                      sortColumn !== 'courseCode'
                  }"></i>

              </button>

            </th>


            <th>

              <button type="button" class="list-column-heading" (click)="applySort('courseName')">

                <span>Name</span>

                <i class="bi" [ngClass]="{
                    'bi-caret-up-fill':
                      sortColumn === 'courseName' &&
                      sortDirection === 'asc',

                    'bi-caret-down-fill':
                      sortColumn === 'courseName' &&
                      sortDirection === 'desc',

                    'bi-unfold-more':
                      sortColumn !== 'courseName'
                  }"></i>

              </button>

            </th>


            <th class="list-action-column">
              Action
            </th>

          </tr>

        </thead>


        <tbody>

          <tr *ngFor="let course of pagedCourses" class="list-row">

            <!-- CODE -->
            <td>

              <span class="list-code">
                {{ course.courseCode }}
              </span>

            </td>


            <!-- NAME -->
            <td>

              <div class="list-item-cell">

                <div class="list-item-avatar">

                  <i class="bi bi-book"></i>

                </div>


                <div class="list-item-details">

                  <span class="list-item-name">
                    {{ course.courseName }}
                  </span>

                  <span class="list-item-subtitle">
                    Course
                  </span>

                </div>

              </div>

            </td>


            <!-- ACTION -->
            <td class="list-action-column">

              <button type="button" class="list-action" title="Edit" (click)="openEditDrawer(course.id)">

                <i class="bi bi-pencil-square"></i>

              </button>

            </td>

          </tr>


          <!-- EMPTY -->
          <tr *ngIf="pagedCourses.length === 0">

            <td colspan="3" class="list-empty">

              <i class="bi bi-search list-empty-icon"></i>

              <strong>
                No courses found
              </strong>

              <span>
                Try adjusting your search criteria
              </span>

            </td>

          </tr>

        </tbody>

      </table>

    </div>


    <!-- FOOTER -->
    <div class="list-footer">

      <div class="list-rows-per-page">

        <span>
          Items per page
        </span>

        <select class="list-page-size" [value]="pageSize" (change)="changePageSize($any($event.target).value)">

          <option *ngFor="let size of pageSizeOptions" [value]="size">
            {{ size }}
          </option>

        </select>

      </div>


      <span class="list-range">
        {{ rangeLabel }}
      </span>


      <div class="list-pagination">

        <button type="button" class="list-pagination-icon" [disabled]="currentPage === 1" (click)="goToPage(1)"
          title="First page">

          <i class="bi bi-chevron-double-left"></i>

        </button>


        <button type="button" class="list-pagination-icon" [disabled]="currentPage === 1"
          (click)="goToPage(currentPage - 1)" title="Previous page">

          <i class="bi bi-chevron-left"></i>

        </button>


        <span class="list-page-number">
          {{ currentPage }}
        </span>


        <button type="button" class="list-pagination-icon" [disabled]="currentPage === totalPages"
          (click)="goToPage(currentPage + 1)" title="Next page">

          <i class="bi bi-chevron-right"></i>

        </button>


        <button type="button" class="list-pagination-icon" [disabled]="currentPage === totalPages"
          (click)="goToPage(totalPages)" title="Last page">

          <i class="bi bi-chevron-double-right"></i>

        </button>

      </div>

    </div>

  </div>

</div>


<app-side-drawer
  [opened]="drawerOpen"
  width="600px"
  (closed)="closeDrawer()"
  [headerTemplate]="drawerHeader"
>

  <ng-container *ngIf="drawerOpen">

   <app-course-create-or-update (saved)="onCourseSaved()" (cancel)="closeDrawer()">

    </app-course-create-or-update>

  </ng-container>

</app-side-drawer>

<ng-template #drawerHeader>

  <div class="drawer-header-icon">
    <mat-icon>calendar_month</mat-icon>
  </div>

  <span>
    {{
      selectedCourseId
        ? 'Edit Course Details'
        : 'Create New Course'
    }}
  </span>

</ng-template>