<div class="list-toolbar">

  <div class="list-toolbar-left">

    <div class="list-heading">

      <h2>Users</h2>

      <span>
        Manage your users
      </span>

    </div>

  </div>


  <div class="toolbar-right">

    <mat-form-field
      appearance="outline"
      class="search-field"
      subscriptSizing="dynamic"
    >

      <mat-icon matPrefix>
        search
      </mat-icon>

      <input
        matInput
        type="text"
        placeholder="Search users..."
        [(ngModel)]="searchText"
        (input)="applyFilter()"
      />

    </mat-form-field>


    <button
      mat-flat-button
      class="add-btn"
      (click)="openCreateDrawer()"
    >

      <mat-icon>
        add
      </mat-icon>

      Add User

    </button>

  </div>

</div>


<!-- TABLE -->

<div class="list-table-wrapper">

  <table class="list-table">

    <thead>

      <tr>

        <th>

          <button
            type="button"
            class="list-column-heading"
            (click)="applySort('firstName')"
          >

            <span>
              First Name
            </span>

            <i
              class="bi"
              [ngClass]="{
                'bi-caret-up-fill':
                  sortColumn === 'firstName' &&
                  sortDirection === 'asc',

                'bi-caret-down-fill':
                  sortColumn === 'firstName' &&
                  sortDirection === 'desc',

                'bi-unfold-more':
                  sortColumn !== 'firstName'
              }"
            ></i>

          </button>

        </th>


        <th>

          <button
            type="button"
            class="list-column-heading"
            (click)="applySort('lastName')"
          >

            <span>
              Last Name
            </span>

            <i
              class="bi"
              [ngClass]="{
                'bi-caret-up-fill':
                  sortColumn === 'lastName' &&
                  sortDirection === 'asc',

                'bi-caret-down-fill':
                  sortColumn === 'lastName' &&
                  sortDirection === 'desc',

                'bi-unfold-more':
                  sortColumn !== 'lastName'
              }"
            ></i>

          </button>

        </th>


        <th>

          <button
            type="button"
            class="list-column-heading"
            (click)="applySort('email')"
          >

            <span>
              Email
            </span>

            <i
              class="bi"
              [ngClass]="{
                'bi-caret-up-fill':
                  sortColumn === 'email' &&
                  sortDirection === 'asc',

                'bi-caret-down-fill':
                  sortColumn === 'email' &&
                  sortDirection === 'desc',

                'bi-unfold-more':
                  sortColumn !== 'email'
              }"
            ></i>

          </button>

        </th>


        <th>

          <span class="list-column-heading-static">
            Status
          </span>

        </th>


        <th class="list-action-column">
          Action
        </th>

      </tr>

    </thead>


    <tbody>

      <tr
        *ngFor="let user of pagedUsers"
        class="list-row"
      >

        <!-- FIRST NAME -->

        <td>

          <div class="list-item-cell">

            <div class="list-item-avatar">

              <i class="bi bi-person"></i>

            </div>


            <div class="list-item-details">

              <span class="list-item-name">
                {{ user.firstName }}
              </span>

              <span class="list-item-subtitle">
                User
              </span>

            </div>

          </div>

        </td>


        <!-- LAST NAME -->

        <td>

          <span class="list-text">
            {{ user.lastName }}
          </span>

        </td>


        <!-- EMAIL -->

        <td>

          <span class="list-text">
            {{ user.email }}
          </span>

        </td>


        <!-- STATUS -->

        <td>

          <span
            class="status-pill"
            [class.status-active]="user.isActive"
            [class.status-inactive]="!user.isActive"
          >

            <span class="status-dot"></span>

            {{ user.isActive ? 'Active' : 'Inactive' }}

          </span>

        </td>


        <!-- ACTION -->

        <td class="list-action-column">

          <button
            type="button"
            class="list-action"
            title="Edit"
            (click)="openEditDrawer(user.id)"
          >

            <i class="bi bi-pencil-square"></i>

          </button>

        </td>

      </tr>


      <!-- EMPTY -->

      <tr *ngIf="pagedUsers.length === 0">

        <td
          colspan="5"
          class="list-empty"
        >

          <i class="bi bi-search list-empty-icon"></i>

          <strong>
            No users found
          </strong>

          <span>
            Try adjusting your search criteria
          </span>

        </td>

      </tr>

    </tbody>

  </table>

</div>


<!-- FOOTER -->

<div class="list-footer">

  <div class="list-rows-per-page">

    <span>
      Items per page
    </span>


    <select
      class="list-page-size"
      [value]="pageSize"
      (change)="changePageSize($any($event.target).value)"
    >

      <option
        *ngFor="let size of pageSizeOptions"
        [value]="size"
      >
        {{ size }}
      </option>

    </select>

  </div>


  <span class="list-range">
    {{ rangeLabel }}
  </span>


  <div class="list-pagination">

    <button
      type="button"
      class="list-pagination-icon"
      [disabled]="currentPage === 1"
      (click)="goToPage(1)"
      title="First page"
    >

      <i class="bi bi-chevron-double-left"></i>

    </button>


    <button
      type="button"
      class="list-pagination-icon"
      [disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)"
      title="Previous page"
    >

      <i class="bi bi-chevron-left"></i>

    </button>


    <span class="list-page-number">
      {{ currentPage }}
    </span>


    <button
      type="button"
      class="list-pagination-icon"
      [disabled]="currentPage === totalPages"
      (click)="goToPage(currentPage + 1)"
      title="Next page"
    >

      <i class="bi bi-chevron-right"></i>

    </button>


    <button
      type="button"
      class="list-pagination-icon"
      [disabled]="currentPage === totalPages"
      (click)="goToPage(totalPages)"
      title="Last page"
    >

      <i class="bi bi-chevron-double-right"></i>

    </button>

  </div>

</div>


<!-- DRAWER -->

<app-side-drawer
  [opened]="drawerOpen"
  width="600px"
  (closed)="closeDrawer()"
  [headerTemplate]="drawerHeader"
>

  <ng-container *ngIf="drawerOpen">

    <app-user-create-or-edit
      (saved)="onUserSaved()"
      (cancel)="closeDrawer()"
    >
    </app-user-create-or-edit>

  </ng-container>


  <ng-template #drawerHeader>

    <div class="drawer-header-icon">

      <mat-icon>
        person
      </mat-icon>

    </div>

    <span>
      {{
        selectedUserId
          ? 'Edit User'
          : 'Create User'
      }}
    </span>

  </ng-template>

</app-side-drawer>