<div class="new-post-container">

    <!-- Post Type -->
    <div class="form-row">

        <label class="label">
            Post Type*
        </label>

        <div class="radio-group">

            <mat-radio-group [(ngModel)]="postDetail.postTypeId" (change)="onPostTypeChange($event)">

                <mat-radio-button *ngFor="let type of types" [value]="type.id">

                    <div class="radio-card" [class.active]="postDetail.postTypeId === type.id">

                        <strong>{{ type.name }}</strong>
                        <small>{{ type.desctiption }}</small>

                    </div>

                </mat-radio-button>

            </mat-radio-group>

        </div>

    </div>


    <!-- Poll Question -->
    <div class="form-row" *ngIf="postDetail.postTypeId === CustomCategory.PostTypes.Poll">

        <label class="label">
            Poll Question*
        </label>

        <input class="form-control" [(ngModel)]="postDetail.poll!.question" placeholder="Enter your poll question">
    </div>


    <!-- Poll Options -->
    <div class="form-row" *ngIf="postDetail.postTypeId === CustomCategory.PostTypes.Poll">

        <label class="label">
            Poll Options*
        </label>


        <div class="poll-card">


            <div class="poll-option-row" *ngFor="let option of postDetail.poll?.options; let i = index">


                <div class="option-number">
                    {{ i + 1 }}
                </div>


                <input class="option-input" [(ngModel)]="option.optionText" placeholder="Enter option {{ i + 1 }}">


                <button type="button" class="delete-option" *ngIf="(postDetail.poll?.options?.length ?? 0) > 2"
                    (click)="removePollOption(i)">

                    ✕

                </button>


            </div>


            <button type="button" class="add-option-btn" (click)="addPollOption()">

                + Add Option

            </button>


        </div>


    </div>



    <!-- Post To -->
    <div class="form-row">

        <label class="label">
            Post To*
        </label>


        <div class="inline-radio">


            <mat-radio-group [(ngModel)]="postTo" (change)="onPostToChange()">

                <mat-radio-button value="class">
                    Entire Class
                </mat-radio-button>

                <mat-radio-button value="individual">
                    Individual Student(s) / Instructor(s)
                </mat-radio-button>

            </mat-radio-group>

        </div>

    </div>


    <!-- Recipient Selection -->
    <div class="form-row" *ngIf="postTo === 'individual'">

        <label class="label">
            Select User(s) *
        </label>

        <div class="folder-select">

            <mat-form-field appearance="outline" class="folder-dropdown">

                <mat-label>
                    Select Student(s) / Instructor(s)
                </mat-label>

                <mat-select multiple [(ngModel)]="postDetail.enrollmentIds">

                    <mat-select-trigger>
                        {{ getSelectedUserNames() }}
                    </mat-select-trigger>

                    <mat-option *ngFor="let user of enrollements" [value]="user.id">

                        {{ user.name }}

                    </mat-option>

                </mat-select>

            </mat-form-field>

        </div>

    </div>

    <!-- Folder Select -->
    <div class="form-row">

        <label class="label">
            Select Folders *
        </label>

        <div class="folder-select">

            <mat-form-field appearance="outline" class="folder-dropdown">

                <mat-label>
                    Select folder(s)
                </mat-label>

                <mat-select multiple [(ngModel)]="postDetail.folderIds">

                    <mat-select-trigger>
                        {{ getSelectedFolderNames() }}
                    </mat-select-trigger>


                    <ng-container *ngFor="let folder of folders">

                        <mat-option [value]="folder.id">

                            {{ folder.name }}

                        </mat-option>


                        <mat-option *ngFor="let child of folder.childFolders" [value]="child.id"
                            class="child-folder-option">

                            {{ child.name }}

                        </mat-option>

                    </ng-container>


                </mat-select>

            </mat-form-field>

        </div>

    </div>

    <!-- Summary -->
    <div class="form-row">

        <label class="label">
            Summary*
        </label>

        <input class="form-control" maxlength="100" placeholder="Enter a one line summary, 100 characters or less"
            [(ngModel)]="postDetail.summary">
    </div>

    <!-- Details -->
    <div class="form-row">

        <label class="label">
            Details
        </label>

        <div class="editor-container">

            <div class="editor-header">

                <div class="editor-types">

                    <mat-radio-group [(ngModel)]="postDetail.editorType">

                        <mat-radio-button [value]="CustomCategory.EditorType.RichText">
                            Rich text editor
                        </mat-radio-button>

                        <mat-radio-button [value]="CustomCategory.EditorType.PlainText">
                            Plain text editor
                        </mat-radio-button>

                        <mat-radio-button [value]="CustomCategory.EditorType.Markdown">
                            Markdown editor
                        </mat-radio-button>

                    </mat-radio-group>

                </div>

                <mat-slide-toggle [(ngModel)]="showPreview">
                    Preview
                </mat-slide-toggle>

            </div>

            <div class="editor-body" [class.preview]="showPreview">

                <quill-editor *ngIf="postDetail.editorType === CustomCategory.EditorType.RichText"
                    [(ngModel)]="postDetail.details" theme="snow" style="height:300px" class="rich-editor">
                </quill-editor>


                <textarea *ngIf="postDetail.editorType === CustomCategory.EditorType.PlainText"
                    [(ngModel)]="postDetail.details">
                </textarea>


                <textarea *ngIf="postDetail.editorType === CustomCategory.EditorType.Markdown"
                    [(ngModel)]="postDetail.details">
                </textarea>


                <div *ngIf="showPreview" class="preview-panel">
                    <div [innerHTML]="postDetail.details"></div>
                </div>

            </div>

        </div>

    </div>

    <!-- Buttons -->
    <div class="action-buttons">

        <button type="button" class="cancel-btn" (click)="close()">
            Cancel
        </button>

        <button type="button" class="submit-btn" (click)="submitPost()">
            Update
        </button>

    </div>

</div>