<div class="profile-layout">
  <aside class="sidebar2">
    <div class="user-info">
      <div class="avatar-circle">PA</div>
      <div>
        <div class="name">Nipa Ani</div>
        <div class="email">
          <p>nipa&#64;gmail.com</p>
        </div>
      </div>

    </div>
    <nav class="menu">
      <div class="menu-title">Personal</div>

      <a routerLink="enrollment-profile" routerLinkActive="active">
        My Profile
      </a>

      <a [routerLink]="['ta-lab-schedule']" routerLinkActive="active">
        Schedule
      </a>

      <div class="menu-title">Help</div>
      <a [routerLink]="['submit-help-request']" routerLinkActive="active">Help Desk</a>
      
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>