<div class="profile-layout">
  <aside class="sidebar2">
    <div class="user-info">
      <div>
        <div class="name">{{ userDetail.fullName }}</div>
        <div class="email">
          <p>{{ userDetail.email }}</p>
        </div>
      </div>
    </div>

    <nav class="menu">
      <ng-container *ngFor="let item of menu">
        <!-- Menu items without children -->
        <a *ngIf="!item.children?.length" [routerLink]="[item.route]" routerLinkActive="active">
          <i *ngIf="item.icon" class="{{ item.icon }}"></i>
          {{ item.label }}
        </a>

        <!-- Menu items with children -->
        <div *ngIf="item.children?.length" class="menu-group">
          <div class="menu-label">
            <i *ngIf="item.icon" class="{{ item.icon }}"></i>
            {{ item.label }}
          </div>
          <div class="submenu">
            <a *ngFor="let child of item.children" [routerLink]="[child.route]" routerLinkActive="active">
              <i *ngIf="child.icon" class="{{ child.icon }}"></i>
              {{ child.label }}
            </a>
          </div>
        </div>
      </ng-container>

      <div class="menu-group" *ngIf="isTA">
        <div class="menu-label" (click)="toggleActiveUsers()">
          Active Users
          <i class="bi" [ngClass]="{'bi-chevron-down': !showActiveUsers, 'bi-chevron-up': showActiveUsers}"></i>
        </div>
        <div class="submenu" *ngIf="showActiveUsers">
          <ul>
            <li *ngFor="let user of activeUsers" (click)="openChat(user)"
              [class.selected]="selectedChatUser?.id === user.id">
              <span>{{ user.studentName }}</span>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>

    <!-- Chat Panel -->
    <section class="chat-panel" *ngIf="isChatOpen && selectedChatUser">
      <app-chat [sender]="userDetail" [receiver]="selectedChatUser" [courseOfferingId]="courseOfferingId" (onClose)="closeChat()" ></app-chat>
    </section>
  </main>
</div>