<div class="table-container">
  <!-- Search -->
  <div class="row justify-content-start">
    <div class="col-md-6 col-12 d-flex align-items-center gap-1">
      <h2 class="mb-0">Courses</h2>

      <button class="icon-btn" (click)="openCreateDrawer()" aria-label="Create course">
        <i class="bi bi-plus-lg me-1"></i>
      </button>
    </div>

  </div>

  <div class="row justify-content-end">

    <div class="col-md-4 col-10 mb-4">
      <div class="search-input-wrapper">
        <input type="text" class="form-control" placeholder="Search courses..." [(ngModel)]="searchText"
          (input)="applyFilter()" />
        <i class="bi bi-search search-icon"></i>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th (click)="applySort('courseCode')" role="button">
            Code
            <i class="bi ms-1" [ngClass]="{
                 'bi-caret-up-fill': sortColumn === 'courseCode' && sortDirection === 'asc',
                 'bi-caret-down-fill': sortColumn === 'courseCode' && sortDirection === 'desc'
               }">
            </i>
          </th>

          <th (click)="applySort('courseName')" role="button">
            Name
            <i class="bi ms-1" [ngClass]="{
                 'bi-caret-up-fill': sortColumn === 'courseName' && sortDirection === 'asc',
                 'bi-caret-down-fill': sortColumn === 'courseName' && sortDirection === 'desc'
               }">
            </i>
          </th>

          <th>
            Action
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let course of pagedCourses">
          <td>{{ course.courseCode }}</td>
          <td>{{ course.courseName }}</td>
          <td><button class="edit-icon-btn" (click)="openEditDrawer(course.id)"><i
                class="bi bi-pencil-square"></i></button></td>
        </tr>

        <tr *ngIf="pagedCourses.length === 0">
          <td colspan="2" class="text-center py-4 text-muted">
            No records found
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginator -->
  <div class="custom-paginator d-flex align-items-center mt-4">

    <div class="d-flex align-items-center gap-2">
      <span class="page-size-label">Items per page:</span>

      <select class="form-select page-size-select" [value]="pageSize"
        (change)="changePageSize($any($event.target).value)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>

    <span class="range-label ms-auto">
      {{ rangeLabel }}
    </span>

    <div class="d-flex gap-2 ms-3">
      <button class="btn icon-btn" (click)="goToPage(1)">
        <i class="bi bi-chevron-double-left"></i>
      </button>

      <button class="btn icon-btn" (click)="goToPage(currentPage - 1)">
        <i class="bi bi-chevron-left"></i>
      </button>

      <button class="btn icon-btn" (click)="goToPage(currentPage + 1)">
        <i class="bi bi-chevron-right"></i>
      </button>

      <button class="btn icon-btn" (click)="goToPage(totalPages)">
        <i class="bi bi-chevron-double-right"></i>
      </button>
    </div>

  </div>

</div>
<!-- SIDE DRAWER -->
<app-side-drawer [opened]="drawerOpen" width="600px" (closed)="closeDrawer()" [headerTemplate]="drawerHeader">
  
  <ng-container *ngIf="drawerOpen">
    <app-course-create-or-update
      (saved)="onCourseSaved()"
      (cancel)="closeDrawer()"
      >
    </app-course-create-or-update>
  </ng-container>

</app-side-drawer>

<!-- Custom header template -->
<ng-template #drawerHeader>
  <div class="d-flex align-items-center gap-2">
    <i class="bi" [ngClass]="selectedCourseId ? 'bi bi-book-half' : 'bi bi-book-half'"></i>
    <span>{{ selectedCourseId ? 'Edit Term Details' : 'Create New Term' }}</span>
  </div>
</ng-template>
