<div class="table-container">
    <!-- Search -->
    <div class="row justify-content-start">
        <div class="col-md-6 col-12 d-flex align-items-center gap-1">
            <h2 class="mb-0">Terms</h2>

            <button class="icon-btn" (click)="openCreateDrawer()" aria-label="Create term">
                <i class="bi bi-plus-lg me-1"></i>
            </button>
        </div>

    </div>

    <div class="row justify-content-end">

        <div class="col-md-4 col-10 mb-4">
            <div class="search-input-wrapper">
                <input type="text" class="form-control" placeholder="Search terms..." [(ngModel)]="searchText"
                    (input)="applyFilter()" />
                <i class="bi bi-search search-icon"></i>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th (click)="applySort('name')" role="button">
                        Name
                        <i class="bi ms-1" [ngClass]="{
                 'bi-caret-up-fill': sortColumn === 'name' && sortDirection === 'asc',
                 'bi-caret-down-fill': sortColumn === 'name' && sortDirection === 'desc'
               }">
                        </i>
                    </th>

                    <th (click)="applySort('year')" role="button">
                        Year
                        <i class="bi ms-1" [ngClass]="{
                 'bi-caret-up-fill': sortColumn === 'year' && sortDirection === 'asc',
                 'bi-caret-down-fill': sortColumn === 'year' && sortDirection === 'desc'
               }">
                        </i>
                    </th>
                    <th (click)="applySort('startDate')" role="button">
                        Start Date
                        <i class="bi ms-1" [ngClass]="{
       'bi-caret-up-fill': sortColumn === 'startDate' && sortDirection === 'asc',
       'bi-caret-down-fill': sortColumn === 'startDate' && sortDirection === 'desc'
     }">
                        </i>
                    </th>

                    <th (click)="applySort('endDate')" role="button">
                        End Date
                        <i class="bi ms-1" [ngClass]="{
       'bi-caret-up-fill': sortColumn === 'endDate' && sortDirection === 'asc',
       'bi-caret-down-fill': sortColumn === 'endDate' && sortDirection === 'desc'
     }">
                        </i>
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let term of paged">
                    <td>{{ term.name }}</td>
                    <td>{{ term.year }}</td>
                    <td>{{ term.startDate | date:'MMM dd, yyyy' }}</td>
                    <td>{{ term.endDate | date:'MMM dd, yyyy' }}</td>
                    <td><button class="edit-icon-btn" (click)="openEditDrawer(term.id)"><i
                                class="bi bi-pencil-square"></i></button></td>
                </tr>

                <tr *ngIf="paged.length === 0">
                    <td colspan="2" class="text-center py-4 text-muted">
                        No records found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginator -->
    <div class="custom-paginator d-flex align-items-center mt-4">

        <div class="d-flex align-items-center gap-2">
            <span class="page-size-label">Items per page:</span>

            <select class="form-select page-size-select" [value]="pageSize"
                (change)="changePageSize($any($event.target).value)">
                <option *ngFor="let size of pageSizeOptions" [value]="size">
                    {{ size }}
                </option>
            </select>
        </div>

        <span class="range-label ms-auto">
            {{ rangeLabel }}
        </span>

        <div class="d-flex gap-2 ms-3">
            <button class="btn icon-btn" (click)="goToPage(1)">
                <i class="bi bi-chevron-double-left"></i>
            </button>

            <button class="btn icon-btn" (click)="goToPage(currentPage - 1)">
                <i class="bi bi-chevron-left"></i>
            </button>

            <button class="btn icon-btn" (click)="goToPage(currentPage + 1)">
                <i class="bi bi-chevron-right"></i>
            </button>

            <button class="btn icon-btn" (click)="goToPage(totalPages)">
                <i class="bi bi-chevron-double-right"></i>
            </button>
        </div>

    </div>

</div>
<!-- SIDE DRAWER -->
<app-side-drawer [opened]="drawerOpen" width="600px" (closed)="closeDrawer()" [headerTemplate]="drawerHeader">
    <ng-container *ngIf="drawerOpen">
        <app-term-create-or-uppdate (saved)="onTermSaved()" (cancel)="closeDrawer()">
        </app-term-create-or-uppdate>
    </ng-container>

</app-side-drawer>

<!-- Custom header template -->
<ng-template #drawerHeader>
    <div class="d-flex align-items-center gap-2">
        <i class="bi" [ngClass]="selectedTermId   ? 'bi bi-book-half' : 'bi bi-book-half'"></i>
        <span>{{ selectedTermId ? 'Edit Term Details' : 'Create New Term' }}</span>
    </div>
</ng-template>